{% extends '../common/main.html' %}

{% load staticfiles %}

{% block title %} 留言板块 {% endblock %}

{% block body%}
    <body style="background: url('{% static 'img/comment_bg.jpg' %}') no-repeat fixed top">
{% endblock %}


{% block content %}

    <div class="operation">
        <button type="button" class="btn btn-info oper_btn">发表留言</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-info oper_btn">浏览留言</button>
    </div>

{% endblock %}


<!-- 脚本 -->
{% block js %}
    <script type="text/javascript">
        $(function(){
             $(".main_nav ul li a").each(function () {
                var href = $(this).attr("href");
                // indexOf 找不到返回-1
                if (href.indexOf("/comments") > -1) {
                    $(this).parent().addClass('active');
                } else {
                    $(this).parent().removeClass('active');
                }
            });
        });
    </script>
{% endblock %}

<!-- 样式 -->
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/comments.css' %}"/>
{% endblock %}