{% extends '../common/main.html' %}

{% load staticfiles %}

{% block title %} 文章列表 {% endblock %}

{% block body%}
    <body style="background: url('{% static 'img/article_bg.jpg' %}') no-repeat fixed top">
{% endblock %}

{% block content %}
    <div class="container article_content">
        <div class="row">
            <div class="col-md-12">
                <table class="table articles_table">
                    <thead>
                    <tr>
                        <th width="10%">序号</th>
                        <th width="20">主题</th>
                        <th width="30%">创建时间</th>
                        <th width="10%">类型</th>
                        <th width="10%">状态</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.articleTitle }}</td>
                            <td>{{ article.createdTime | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ article.articleCategory.categoryName }}</td>
                            <td>11</td>
                            <td>22</td>
                        </tr>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation" class="article_pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in pageRange %}
                            <li><a href="/article/listArticles?pageIndex={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $(".main_nav ul li a").each(function () {
                var href = $(this).attr("href");
                console.log(href.indexOf("/article"));
                // indexOf 找不到返回-1
                if (href.indexOf("/article") > -1) {
                    $(this).parent().addClass('active');
                } else {
                    $(this).parent().removeClass('active');
                }
            });
        })
    </script>
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/article.css' %}"/>
{% endblock %}