{% extends '../common/main.html' %}
{% load staticfiles %}
{% block title %} 文章列表 {% endblock %}

{% block content %}
    <div class="article_content">
        <table class="table table-bordered articles_table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="15%">主题</th>
                    <th width="30%">创建时间</th>
                    <th width="50%">类型</th>
                </tr>
            </thead>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.articleTitle }}</td>
                    <td>{{ article.createdTime }}</td>
                    <td>{{ article.articleCategory.categoryName }}</td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation" class="article_pagination">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pageRange %}
                    <li><a href="/article/listArticles?pageIndex={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            {% comment %}      $(".main_nav ul li").each(function () {
                 $(this).click(function () {
                     // (1) $(this).addClass('active') 为当前点击的元素添加 class="active"
                     // (2) .siblings() 获得匹配集合中每个元素的同胞, 接着.removeClass('active') 删除class="active"
                     $(this).addClass('active').siblings().removeClass('active');
                 });
             });{% endcomment %}
        })
    </script>
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/article.css' %}"/>
    <style type="text/css">

    </style>
{% endblock %}