{% extends '../common/main.html' %}

{% load staticfiles %}

{% block title %} 文章列表 {% endblock %}

{% block body%}
    <body style="background: url('{% static 'img/article_bg.jpg' %}') no-repeat fixed top">
{% endblock %}

{% block content %}
    <div class="container article_content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover articles_table">
                    <thead>
                    <tr>
                        <th width="10%">序号</th>
                        <th width="20">主题</th>
                        <th width="30%">创建时间</th>
                        <th width="10%">类型</th>
                        <th width="10%">状态</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.articleTitle }}</td>
                            <td>{{ article.createdTime | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ article.articleCategory.categoryName }}</td>
                            <td>
                                {% if article.status %}
                                    有效
                                {% else %}
                                    无效
                                {% endif %}
                            </td>
                            <td>
                                {% comment %}<a href="/article/articleDetail?id={{ article.id }}" class="glyphicon glyphicon-search">查看</a>{% endcomment %}
                                <button type="button" class="btn btn-primary btn-lg glyphicon glyphicon-search search"
                                        data-toggle="modal" data-target="#myModal">
                                    查看
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation" class="article_pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in pageRange %}
                            <li><a href="/article/listArticles?pageIndex={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" id="myModalLabel">文章明细</span>
                </div>
                <div class="modal-body">
                    <form id="articleDetailForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">主题</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="title" placeholder="主题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-8">
                                <textarea id="content" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="createdTime" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="createdTime" placeholder="创建时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updatedTime" class="col-sm-2 control-label">更新时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="updatedTime" placeholder="更新时间">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $(".main_nav ul li a").each(function () {
                var href = $(this).attr("href");
                // indexOf 找不到返回-1
                if (href.indexOf("/article") > -1) {
                    $(this).parent().addClass('active');
                } else {
                    $(this).parent().removeClass('active');
                }
            });
            $(".search").click(function(){
                // $(this) 父节(td)点再父节点(tr)中发现td，然后获取第一个td，最后获取值
                var id = $(this).parent().parent().find("td").eq(0).text();
                $.ajax({
                    url: "/article/articleDetail",
                    data: {'id':id},
                    type: "post",
                    dataType:'json',
                    beforeSend:function(xhr, settings){
                      //  发起请求前
                    },
                    success:function(data){
                        var obj = data[0].fields;
                        $("#title").val(obj.articleTitle);
                        $("#content").val(obj.articleContent);
                        var ct = obj.createdTime;  //console.log(typeof ct); 显示string类型
                        $("#createdTime").val(new Date(ct).Format("yyyy-MM-dd HH:mm:ss"));
                        var ut = obj.updatedTime;
                        $("#updatedTime").val(new Date(ut).Format("yyyy-MM-dd HH:mm:ss"));
                    },
                    error:function(e){
                        alert(e.status + ":" + e.statusText);
                    }
                });
            });
            // 关闭清空dialog中数据(可以不需要，因为打开重新请求填充数据)
            $("#myModal").on("hidden.bs.modal", function () {
                var elements = $("#articleDetailForm").find('input,textarea');
                for(var i = 0 ; i < elements.length; i++){
                    elements[i].value = "";
                }

            });
        })

    </script>
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/article.css' %}"/>
{% endblock %}