.operation {
    text-align: center;
    margin-top: 30px;

}

.oper_btn {
    border-radius: 20px;
    outline: 0 none !important; /** CSS 去掉按钮选中时的蓝色外边框 !important 表示有效生效 */
}

.comments {
    padding-top: 20px;
}

.bootstrap-select > .dropdown-toggle {
    width: 30%;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 30%;
}

.description {
    display: block;
    width: 100%;
    height: 34px;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #1bd7b6;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}