body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    background-color: #fff;
    position: relative;  /**body 位置相对定位*/
}

.header {
    background-color: #6e6e6e;
}

.navbar-header {
    width: 200px;
    font-size: 15px;
}

.logo {
    margin-top: 5px;
}

.logo_content{
    margin-top: 5px;
}

a:hover {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: #2aabd2;
}

.navbar-default .navbar-nav > .active > a {

}

.main_bottom {
    position: absolute;
    left: 550px;
    top: 650px;
    width: 267px;
    height: 17px;
    z-index: 1;
    color: #333333;
    font-size: 12px;
}
