body {
    font-size: 15px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 1;
    position: relative; /**body 位置相对定位*/
}

.navbar {
    margin-bottom: 0px;
    opacity: 0.8;
}

.navbar-header {
    width: 200px;
    font-size: 15px;
}

.logo {
    margin-top: 5px;
}

.logo_content {
    margin-top: 5px;
}

a:hover {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: #3790d2;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #DFDFDF;
}

.main_bottom {
    position: fixed;
    bottom: 3px;
    width: 100%;
    z-index: 1;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
