<!-- 这是一个母版页,其他模板继承即可-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- 相当于占位符 -->
    {% block js %} {% endblock %}
    <!-- 导入静态css文件 -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
    {% block css %} {% endblock %}
</head>
<body bgcolor="#14285f">
<div class="main_header">
    <div class="header_img" style="background: url('{% static 'img/main_header.jpg' %}')">
        <div id="desc">欢迎来到Vincent个人网站</div>
    </div>
    <div class="line" style="height: 2px">&nbsp;</div>
    <div style="height: 2px">&nbsp;</div>
    <div class="line" style="height: 1px">&nbsp;</div>
</div>
<div class="menu">
    <!-- style = "color:#ffffff;" 高亮-->
    <a href="{{ BASE_DIR }}/homepage/index" style = "color:#ffffff;">首页</a>
    <a href="#">文章</a>
    <a href="#">我的足迹</a>
    <a href="#">留言</a>
    <a href="#">关于我</a>
</div>
<div>
    {% block content %} {% endblock %}
</div>
<div class="main_bottom">
    Copyright 2018 Vincent All Rights Reserved
</div>
</body>
</html>